/* 
    Document   : mobile
    Created on : 04/01/2013, 09:37:58
    Author     : endel
    Description: CSS para o Galaxy Nexus S (celular do Bruno)
*/

@media handheld and (max-width: 480px), screen and (device-width: 480px), screen and (max-width: 600px),
handheld and (device-width:320px){
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video{
    font-size: 104%;}
  body{width:100%; background:#fc0;}
  input[type="text"], input[type="password"]{font-size:26px;}
  .barra-de-busca{height:50px}
  #mainmenu{display:none;}
  #barra-de-busca{width:95%; margin-top:0;}
  #barra-de-busca-results{width:80%}
  #botao-procurar-results{display:none;}
  #mobile-botao-procurar-results{height:50px;width:50px;display:block;}
  h2{margin-top:20px;}
  .resultados-busca h3{font-size:inherit;}
}
@media screen and (min-width:800px) { 
  body{background-color:#fc0;}
}